* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html, body {
    scroll-behavior: smooth;
    background-color: #051012;
    
}
a {
    text-decoration: none;
    color: white;
    transition: 0.3s all;
}
::-webkit-scrollbar {
    display: none;
}